# Dependencies
node_modules/
.pnpm-store/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build output
dist
build

# dotenv environment variable files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
.vscode-test